html,
body {
    font-family: 'Work Sans', sans-serif;
}

body {
    display: block;
    margin: 0px;
    color: #1d1d1f;
}

section {
    height: 100vh;
}

.introduction-section {
    display: flex;
    background-color: #fafafa !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.covid-introduction-title {
    font-family: 'Bernier';
    font-size: 180px;
    font-weight: 400;
    margin: 0px;
}

.covid-introduction-subtitle {
    font-family: 'Work sans';
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.main-section {
    width: 100%;
    height: 100vh;
    background-color: #ff3366;
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: center;
}

.title-main-section {
    font-family: 'Bernier';
    font-size: 64px;
    font-weight: 500;
    color: #fff;
    margin-left: 90px;
    margin-bottom: 42px;
    margin-top: 0px;
}

.covid-main-cards {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    flex-wrap: wrap;
    justify-content: center;
}

.covid-main-card {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 140px;
    font-size: 20px;
    font-weight: 500;
    color: #ff3366;
    background-color: #fff;
    margin-right: 32px;
    margin-bottom: 32px;
    border-radius: 5px;
    text-decoration: none;
}

.about-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-covid-img {
    position: absolute;
    z-index: 1048;
    opacity: 0.3;
    width: 240px;
}

.covid-1 {
    top: 12%;
    left: 6%;
    animation: pulse 10s infinite;
}

.covid-2 {
    top: 50%;
    left: 30%;
    animation: pulse 8s infinite;
}

.covid-3 {
    top: 15%;
    right: 10%;
    animation: pulse 6s infinite;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(0.5, 0.5, 0.5);
    }

    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }

    to {
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        transform: scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(0.5, 0.5, 0.5);
    }

    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }

    to {
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        transform: scale3d(0.5, 0.5, 0.5);
    }
}

.covid-about-title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 42px;
    margin-top: 0px;
}

.covid-about-subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.covid-about-paragraph {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}



/* @media (max-width: 600px) {
    .covid-presentation-section {
        height: 100vh !important;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
    }

    .covid-presentation-title {
        font-size: 64px;
    }

    .covid-section-main {
        height: 100%;
    }

    .covid-section-title {
        font-size: 24px;
        margin-top: 32px;
        margin-left: 32px;
    }

    .covid-cards {
        flex-wrap: wrap;
    }

    .covid-card {
        width: 100%;
        margin: 32px;
        margin-top: 0px;
    }
} */